@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Special+Elite&display=swap');
:root {
    --translate-value: -40;
}
html {
    box-sizing: border-box;
    cursor: default;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #f6f8f9;
    color: #3d3d3d;
}
em {
    font-style: italic;
}
.header {
    height: 200%;
    background-image: url("../img/sea3.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 156, 197, 0.46);
    background-blend-mode: multiply;
    position: fixed;
    width: 100%;
    top: 0;
    transform: translateY(calc(var(--translate-value) * 1%));
    will-change: auto;
    transition: 0.5s cubic-bezier(0.22, 0.44, 0, 1);
}
.header-inner {
    position: fixed;
    color: #fff;
    width: 100%;
    height: 120%;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(calc(var(--translate-value-header) * 1%));
    will-change: auto;
    transition: 0.8s cubic-bezier(0.22, 0.44, 0, 1);
}
.header-title {
    text-align: center;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6vw;
    margin-bottom: 30px;
    letter-spacing: 0.2rem;
}
.header-subtitle {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
    -webkit-text-stroke: 0.015rem;
    letter-spacing: 0.03rem;
    font-size: 1.5rem;
}
.main {
    margin-top: 101vh;
    padding-bottom: 40px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 1;
}

.arrow{
    transform: rotate(90deg);
    font-size: 100px;

}

.minilog {
    margin-bottom: 100px;
    position: relative;
    top: 110px;
}

.toggle-class {
    opacity: 0;
    transform: translateY(120px);
}

#logo {
    width: 455px;
    height: 110px;
    margin-top: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    position: relative;
    padding: 10px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}
a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    letter-spacing: 8px;
    z-index: 1;
    margin-left: -8px;
}
a .liquid {
    position: absolute;
    top: -90px;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 119, 255, 0.6);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
}
a .liquid::after, a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}
a .liquid::before {
    border-radius: 45%;
    background: rgba(0, 88, 252, 0.24);
    animation: animate 5s linear infinite;
}
a .liquid::after {
    border-radius: 40%;
    background: rgba(248, 245, 245, 0.5);
    animation: animate 10s linear infinite;
}
a:hover .liquid {
    top: -120px;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}



.nav-btn {
    top: 0;
    display: inline-flex;
    margin-right: 90px;
    position: fixed;
    z-index: 2;
}

.buttons {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    margin-right: 90px;
}

@media all and (max-width: 767px){
    .buttons {
        position: relative;
        flex-direction: column;
        margin-top: 100px;
        margin-left: -400px;
        align-self: flex-start;
        display: inline;
        gap: 10px 20px;
    }
    .nav-btn{
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
        height: 270px;
        top: 0;
        padding-right: 200px;

    }
}

.title1 {
    display: flex;
    margin-left: 260px;
    margin-right: 10px;
    bottom: 126px;
    position: relative;
    color: #FFFFFF;
    justify-content: center;
    transform: translateY(calc(var(--translate-value-header) * 1%));
    will-change: auto;
    transition: 0.8s cubic-bezier(0.22, 0.44, 0, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    box-shadow: 2px 5px 6px 2px whitesmoke;
    text-shadow: 2px 5px 6px 2px whitesmoke;
}

@media (min-width: 1201px) {
    #row2{
        display: inline-flex;
    }
    #row3{
        display: inline-flex;
    }
}
@media (max-width: 1200px) {
    #row2{
        margin-left: -218px;
        top: 60px;
    }
    #row3{
        margin-left: -440px;
        top: 60px;
    }
}
@media (max-width: 777px) {
    #row2{
        margin-left: 220px;
        bottom: 150px;
    }
    #row3{
        margin-left: 220px;
        bottom: 150px;
    }
}
@media (max-width: 767px) {
    #row2{
        margin-left: 220px;
        top: -150px;
    }
    #row3{
        margin-left: 220px;
        top: -150px;
    }
}


.button {
    margin-top: 25px;
}

#part1{
    color: #FFFFFF;
    width: 80%;
    margin-left: 20px;

}

.img-pro{
    display: flex;
    align-items: center;
    justify-content: center
}
#text2{
    margin-left: 20px;
}

@media (max-width: 767px) {
    .img-pro{
        display: inline;
        justify-content: space-between;
    }
    main{
        overflow-x: hidden;
    }
}


