@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Special+Elite&display=swap');

body {
    font-family: "Open Sans", Arial;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
    overflow-x: hidden;
}


#logo {
    width: 455px;
    height: 110px;
    margin-top: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    position: relative;
    padding: 10px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}
a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    letter-spacing: 8px;
    z-index: 1;
}
a .liquid {
    position: absolute;
    top: -90px;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 119, 255, 0.6);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
}
a .liquid::after, a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}
a .liquid::before {
    border-radius: 45%;
    background: rgba(0, 88, 252, 0.24);
    animation: animate 5s linear infinite;
}
a .liquid::after {
    border-radius: 40%;
    background: rgba(248, 245, 245, 0.5);
    animation: animate 10s linear infinite;
}
a:hover .liquid {
    top: -120px;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.nav-btn {

    top: 0;
    display: inline-flex;
    margin-right: 90px;
    position: fixed;
    z-index: 2;
}

.buttons {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    margin-right: 90px;
}

@media all and (max-width: 767px){
    .buttons {
        position: relative;
        flex-direction: column;
        margin-top: 100px;
        margin-left: -400px;
        align-self: flex-start;
        display: inline;
        gap: 10px 20px;
    }
    .nav-btn{
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
        height: 270px;
        top: 0;
        padding-right: 200px;

    }
}
@media (min-width: 1201px) {
    #row2{
        display: inline-flex;
    }
    #row3{
        display: inline-flex;
    }
}
@media (max-width: 1200px) {
    #row2{
        margin-left: -218px;
        top: 60px;
    }
    #row3{
        margin-left: -440px;
        top: 60px;
    }
}
@media (max-width: 777px) {
    #row2{
        margin-left: 220px;
        bottom: 150px;
    }
    #row3{
        margin-left: 220px;
        bottom: 150px;
    }
}
@media (max-width: 767px) {
    #row2{
        margin-left: 220px;
        top: -150px;
    }
    #row3{
        margin-left: 220px;
        top: -150px;
    }
}


.button {
    margin-top: 25px;
}

body {
    background: #333;
    padding: 70px 0;
    font: 15px/20px Arial, sans-serif;
}

*{box-sizing:border-box}
body{margin:0}
ul{padding:0}

.caroussel_diapo input{display:none}

.caroussel_diapo{
    position:relative;
    text-align: center;
    margin-top: 200px;

}


.contenu_carou {
    width: 500px;
    height: 332px;
    margin: 2rem auto;
    perspective: 1000px;

}


.caroussel {
    position: absolute;
    transform-style: preserve-3d;
    width: 800px;
    height: 332px;
    transition: 1s transform;

}

.caroussel img {
    position: absolute;
    top: 0;
    left: 0;
    outline:1px solid transparent;
    backface-visibility:hidden;
    will-change: transform;
    transition: 1s transform
}


.caroussel img:nth-child(1){

    transform:translate3d(0,0,540px) scale(.8)

}

.caroussel img:nth-child(2){

    transform:rotateY(45deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(3){

    transform:rotateY(90deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(4){

    transform:rotateY(135deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(5){

    transform:rotateY(180deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(6){

    transform:rotateY(225deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(7){

    transform:rotateY(270deg) translateZ(540px) scale(.8)

}

.caroussel img:nth-child(8){

    transform:rotateY(315deg) translateZ(540px) scale(.8)

}

.caroussel_diapo input[type=radio] + label {
    cursor: pointer;
    background-color: hsl(203,77%,81%);
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    height: 20px
}

.caroussel_diapo input[type=radio]:checked + label{

    background-color:hsl(203,77%,61%)

}



/*gauche*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px)

}

.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-45deg)

}

.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-90deg)

}

.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-135deg)

}

.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-180deg)

}

.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-225deg)

}

.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-270deg)

}

.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel{

    transform:translateZ(-540px) rotateY(-315deg)

}


/*droite*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel img:nth-child(1){

    transform:translateZ(540px) scale(1)

}

.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel img:nth-child(2){

    transform:rotateY(45deg) translateZ(540px) scale(1)

}
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel img:nth-child(3){

    transform:rotateY(90deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel img:nth-child(4){

    transform:rotateY(135deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel img:nth-child(5){

    transform:rotateY(180deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel img:nth-child(6){

    transform:rotateY(225deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel img:nth-child(7){

    transform:rotateY(270deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel img:nth-child(8){

    transform:rotateY(315deg) translateZ(540px) scale(1)

}

img{
    width: 444px;
    height: 370px;
}

#photo1{
    width: 311px;
    height: 406px;
    margin-left: 90px;
}
#photo2{
    width: 291px;
    height: 386px;
    margin-left: 60px;
}
#photo3{
    width: 360px;
    height: 320px;
    flex-direction: row;

}
